.FileList {
    overflow: auto
}

.FileList .File .filename > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pagination ul {
    display: inline-block;
    text-align: center;
    position: fixed;
}

.pagination li {
    display: inline-block;
    text-align: center;
    width:3%;
    border: solid black 1px;
}

@media (min-width : 600px) {
    .FileList .File {
        float: left;
        width: 33.3%;
    }
}
@media (min-width : 1024px) {
    .FileList .File {
        float: left;
        width: 25%;
    }
}